@use "graph.scss";
@use "btn.scss";
@use 'mixins';
/* 圆角hover效果box*/
.rounded-hover-box {
  width: 100%;
  border: 2px solid white; /* 添加白色边框 */
  border-radius: 12px; /* 添加圆角边框 */
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
  padding: 10px;
  background-color: white;
  // background-image: url('http://219.216.64.228:5000/images/content-bg-1.jpg');
  //background-size: cover;
  /* 应用悬停效果混入 */
  @include mixins.hover-elevate-shadow;

  .button-group {
    display: flex;
    flex-direction: row; /* 确保子元素横向排列 (默认就是 row) */
    gap: 20px; /* 设置按钮之间的间距 (可选) */
  }
}

.right-box-step5 {
  width: 100%;
  border: 2px solid transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  //background-image: url('http://219.216.64.228:5000/images/content-bg-1.jpg');
  background-image: url("@/assets/images/content-bg-1.jpg");
  background-size: cover;
}

/* 主容器 */
.main-container {
  width: 100%;
  height: 100%;
  display: flex;
  /* 设置全局字体颜色为白色 */
  color: #303133;
  background-color: #F2F3F5
}

.header {
  width: 100%;
  height: 50px;
  background: #409EFF;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

//两个主要图谱页面的侧内容框（放节点信息和搜索框
.content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 0;
  color: #fff;
}

.info-box {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #757575;
  box-sizing: border-box;
}


//分割线
.divider {
  width: 2px;
  height: 95%;
  background: #757575;
  margin: 0 10px;
}

.graph-aside {
  width: 23%;
  flex-direction: column;
  display: flex;
  //gap: 10px;
  margin: 0 10px 20px 0;
  height: calc(100% - 20px);
  box-shadow: var(--el-box-shadow);

  .half-container {
    width: 100%;
    height: 50%;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 20px 20px 20px 20px;
    overflow-y: auto;
    font-size: 20px;
    background-color: white;
  }
}

.graph-main {
  width: 75%;
  flex-direction: column;
  display: flex;
  box-shadow: var(--el-box-shadow);
  background-color: #F2F3F5;
  margin: 0 10px 20px 20px;
}


.shadow-container {
  margin: 0 0 20px 0;
  height: calc(100% - 20px);
  box-shadow: var(--el-box-shadow);
  overflow: auto;
}

.half-main {
  flex: 1;
  overflow-y: auto;
  background-color: white;
  font-size: 24px;
  overflow-x: hidden;
}


/* 节点信息框 */
.node-info-box {
  width: 100%;
  height: 100%;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 20px 20px 20px 20px;
  overflow-y: auto;
  font-size: 20px;
  background-color: white;
}





